<div class="row text-center">
    <div class="col">
        <h4 class="text-primary">
            Copyright 2023. 붸레레렐 All right reserved
        </h4>
    </div>
    <div class="col">
        test123
    </div>

</div>