<div class="row my-5">
    <script>
        function getBooks(searchparam){
            $.ajax({
                url:"https://dapi.kakao.com/v3/search/book",
                type:"get",
                headers:{
                    "Authorization":"KakaoAK 00cb01fce3abc246db695150704d7a21"
                },
                data:{
                    "query":searchparam,
                    "pages":1,

                },
                success:function(data){
                    console.log(data)
                    $("#booktable").empty()
                    for(line of data.documents){
                        $("#booktable").append(`<tr>
                            <td>
                                <img src=${line.thumbnail} style="width: 50px">
                            </td>
                            <td>${line.title}</td>
                            <td>${line.price.toLocaleString()} 원</td>
                        </tr>`)
                    }
                }
            })
        }
    </script>
    <div class="col">
        <h1 class="text-center">
            도서검색
        </h1>
        <form>
            <input class="form-input" type="text" id="searchval">
            <button class="btn btn-primary" type="button" onclick=getBooks($("#searchval").val())>
                검색
            </button>
        </form>
        <div class="justify-content-center text-center">
            <table style="width: 100%">
                <thead>
                <tr>
                    <th>썸네일</th>
                    <th>책이름</th>
                    <th>가격</th>
                </tr>
                </thead>
                <tbody id="booktable">
                </tbody>
            </table>
        </div>

        <div class="text-sm" id="datas">

        </div>
    </div>
</div>